# **Exploring Shoe Drive Data**

In [ ]:
# Import python libaries to access and modify datasets
import pandas as pd
import numpy as np

# Read Shoe Drive data
data = pd.read_csv('/content/Shoes_Drive_Data.csv')

In [ ]:
# Check for null values
data.isnull().sum()

Shoe Drive (ByWho/Where)    0
Amount of shoes             0
New/Used/NearlyNew          0
dtype: int64

In [ ]:
# View first 10 instances of dataset
data.head(10)

,Shoe Drive (ByWho/Where),Amount of shoes,New/Used/NearlyNew
0,"Lush Shoe Drive: Collected around 100 pairs, f...",100,Pre-loved/Used
1,Share Max Shoe Drive: Over 100 pairs donated d...,100,Pre-loved/Used
2,Sole Suppliers: Supporters donated three shopp...,10,Pre-loved/Used
3,"Capgemini Shoe Drive: Collected 110 pairs, inc...",110,Pre-loved/Used
4,Family Shoe Drives: Supporters contributed sma...,50,Pre-loved/Used
5,Kruz Music artist:,40,Pre-loved/Used
6,"School students campaign,",100,Pre-loved/Used

In [ ]:
# View data types of variables
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Shoe Drive (ByWho/Where)  7 non-null      object
 1   Amount of shoes           7 non-null      int64
 2   New/Used/NearlyNew        7 non-null      object
dtypes: int64(1), object(2)
memory usage: 300.0+ bytes

In [ ]:
# Provides basic descriptive statistics
data.describe()

       Amount of shoes
count         7.000000
mean         72.857143
std          39.036003
min          10.000000
25%          45.000000
50%         100.000000
75%         100.000000
max         110.000000

# **Exploring Partner Shoe Drive Data**

In [ ]:
# Read Partner Drive data
data = pd.read_csv('/content/Partner_Drive_Data.csv')

In [ ]:
# Check for null values
data.isnull().sum()

Brand/Partners donors    0
Amount of shoes          0
Shoe brand               0
New/Used/NearlyNew       0
Date/Year                0
dtype: int64

In [ ]:
# View first 10 instances of dataset
data.head(10)

,Brand/Partners donors,Amount of shoes,Shoe brand,New/Used/NearlyNew,Date/Year
0,Nike,40,NIKE,New,Feb 2024
1,Hope and Glory/ Sneaker school,40,High street stores: Topshop/Zara/NewLook white...,New,Jan 2025
2,ITV,50,High street brands,New,Jan 2024
3,StockX,40,"Jordan's NIke, Addias",New,Oct 2024
4,Sole Suppliers,10,Nike and Addias.,Nearly new,May 2024
5,Alex Arrogato,50,AA,Defect,Not known
6,Converse,40,Converse,New,2024

In [ ]:
# View data types of variables
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Brand/Partners donors  7 non-null      object
 1   Amount of shoes        7 non-null      int64
 2   Shoe brand             7 non-null      object
 3   New/Used/NearlyNew     7 non-null      object
 4   Date/Year              7 non-null      object
dtypes: int64(1), object(4)
memory usage: 412.0+ bytes

In [ ]:
# Provides basic descriptive statistics
data.describe()

       Amount of shoes
count         7.000000
mean         38.571429
std          13.451854
min          10.000000
25%          40.000000
50%          40.000000
75%          45.000000
max          50.000000

# **Stock Provision Data**

In [ ]:
# Read Stock Provision data
data = pd.read_csv('/content/Stock_Provision_Data.csv')

In [ ]:
# Check for null values
data.isnull().sum()

Partner            0
Amount of pairs    0
Date               0
dtype: int64

In [ ]:
# View first 10 instances of dataset
data.head()

                Partner  Amount of pairs         Date
0  Brixton Soup Kitchen               50  Jan-Feb 2024
1  Brixton Soup Kitchen               30   Spring 2024
2  Brixton Soup Kitchen               30   Summer 2024
3       Care 4 Calaris                60   Winter 2024

In [ ]:
# View data types of variables
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Partner          4 non-null      object
 1   Amount of pairs  4 non-null      int64
 2   Date             4 non-null      object
dtypes: int64(1), object(2)
memory usage: 228.0+ bytes

In [ ]:
# Provides basic descriptive statistics
data.describe()

       Amount of pairs
count              4.0
mean              42.5
std               15.0
min               30.0
25%               30.0
50%               40.0
75%               52.5
max               60.0

# **Google Sheet Data**

In [ ]:
# Read Google Sheet data
data = pd.read_csv('/content/Google_Sheet_Data.csv')

In [ ]:
# Display all variables
list(data.columns)

['Timestamp',
 'Ethnicity ',
 'Nationality ',
 'No Of Dependents / Children',
 'Shoe Size (UK) \nPlease enter a UK shoe size. ',
 'What are the shoes needed for? ',
 'Employment Status',
 'Do you receive Universal Credit?',
 'Are you in education or training? ',
 'Are you a looked after child or care leaver? ',
 'Have you recently been released from prison? (in the last 6 months) ',
 'Are you seeking asylum in the UK? (Refugee) ',
 'Do you have a youth or social worker, youth offending or probation officer? ',
 'Where did you hear about Resole? ']

In [ ]:
# Check for null values
data.isnull().sum()

Timestamp                                                                        72
Ethnicity                                                                        89
Nationality                                                                      92
No Of Dependents / Children                                                     104
Shoe Size (UK) \nPlease enter a UK shoe size.                                     9
What are the shoes needed for?                                                   90
Employment Status                                                                61
Do you receive Universal Credit?                                                 90
Are you in education or training?                                                90
Are you a looked after child or care leaver?                                     90
Have you recently been released from prison? (in the last 6 months)              90
Are you seeking asylum in the UK? (Refugee)                                      90
Do you have a youth or social worker, youth offending or probation officer?      91
Where did you hear about Resole?                                                100
dtype: int64

In [ ]:
# Respresent null values as percentage of missing valus per variable
# Due to high amount of missing data we dedided only to clean the data we absolutely needed
data.isna().sum()/len(data)*100

Timestamp                                                                       35.294118
Ethnicity                                                                       43.627451
Nationality                                                                     45.098039
No Of Dependents / Children                                                     50.980392
Shoe Size (UK) \nPlease enter a UK shoe size.                                    4.411765
What are the shoes needed for?                                                  44.117647
Employment Status                                                               29.901961
Do you receive Universal Credit?                                                44.117647
Are you in education or training?                                               44.117647
Are you a looked after child or care leaver?                                    44.117647
Have you recently been released from prison? (in the last 6 months)             44.117647
Are you seeking asylum in the UK? (Refugee)                                     44.117647
Do you have a youth or social worker, youth offending or probation officer?     44.607843
Where did you hear about Resole?                                                49.019608
dtype: float64

In [ ]:
# View data types of variables
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 204 entries, 0 to 203
Data columns (total 14 columns):
 #   Column                                                                        Non-Null Count  Dtype
---  ------                                                                        --------------  -----
 0   Timestamp                                                                     132 non-null    object
 1   Ethnicity                                                                     115 non-null    object
 2   Nationality                                                                   112 non-null    object
 3   No Of Dependents / Children                                                   100 non-null    object
 4   Shoe Size (UK)
Please enter a UK shoe size.                                  195 non-null    object
 5   What are the shoes needed for?                                                114 non-null    object
 6   Employment Status                                                             143 non-null    object
 7   Do you receive Universal Credit?                                              114 non-null    object
 8   Are you in education or training?                                             114 non-null    object
 9   Are you a looked after child or care leaver?                                  114 non-null    object
 10  Have you recently been released from prison? (in the last 6 months)           114 non-null    object
 11  Are you seeking asylum in the UK? (Refugee)                                   114 non-null    object
 12  Do you have a youth or social worker, youth offending or probation officer?   113 non-null    object
 13  Where did you hear about Resole?                                              104 non-null    object
dtypes: object(14)
memory usage: 22.4+ KB

In [ ]:
# Increases maximum display rows to 500
pd.set_option('display.max_rows', 500)

# Expands viewable columns limit to 500
pd.set_option('display.max_columns', 500)

# Sets display width to 150 characters
pd.set_option('display.width', 150)

In [ ]:
# Run different line to apply truncation
data.head(205)

,Timestamp,Ethnicity,Nationality,No Of Dependents / Children,Shoe Size (UK) \nPlease enter a UK shoe size.,What are the shoes needed for?,Employment Status,Do you receive Universal Credit?,Are you in education or training?,Are you a looked after child or care leaver?,Have you recently been released from prison? (in the last 6 months),Are you seeking asylum in the UK? (Refugee),"Do you have a youth or social worker, youth offending or probation officer?",Where did you hear about Resole?
0,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,White,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,05-Jun,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,14/08/2023,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,3,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,31/07/2023,NaN,NaN,NaN,10,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,White,NaN,NaN,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,Black affrican,NaN,NaN,8,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,4/5,NaN,Low-income/vulnerable family,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,6/6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,12/13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,White,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,10,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,10/10.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,8/8.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,31/07/2023,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,12,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,NaN,Black jamaican,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,NaN,NaN,NaN,NaN,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,7.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,9,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,9.5,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,24/07/2023,NaN,NaN,NaN,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,24/07/2023,NaN,NaN,NaN,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,21/08/2023,Black jamaican,NaN,NaN,8,NaN,Low-income/vulnerable family,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,11,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,NaN,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,NaN,NaN,NaN,39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,4,NaN,Low-income/vulnerable family,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,26/07/2023,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64,07/07/2023,NaN,NaN,NaN,8,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,NaN,White,NaN,NaN,7,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,NaN,NaN,NaN,NaN,4,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,24/07/2023,NaN,NaN,NaN,8.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,12/07/2023,NaN,NaN,NaN,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,NaN,NaN,NaN,NaN,8,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
70,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
71,NaN,NaN,NaN,NaN,9.5,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,NaN,NaN,8,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,24/07/2023,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,NaN,NaN,NaN,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75,NaN,Black jamaican,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
76,24/07/2023,NaN,NaN,NaN,9,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
78,31/07/2023,NaN,NaN,NaN,7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,7,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
80,31/07/2023,NaN,NaN,NaN,5,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
82,14/08/2023,NaN,NaN,NaN,8,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83,NaN,NaN,NaN,NaN,9.5,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84,NaN,NaN,NaN,NaN,4,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85,09/08/2023,NaN,NaN,NaN,7or 7.5,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,NaN,NaN,NaN,NaN,9 / 9.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,NaN,White,NaN,NaN,11,NaN,Homeless,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,NOTES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,28/03/2024,Eritrean,British,0,11,Everyday use,unable to work as outlined by HO,Yes,No,No,No,Victim of trafficking/modern slavery (NRM),Advocacy worker,NaN
90,28/03/2024,Sudanese,Refugee Status granted in 2024,1,3,Everyday use,Unemployed,No,No,No,No,Yes,Advocate,NaN
91,04/04/2024,Latino,Venezuelan,0,7,Sports,Unable to work (please specify),No,No,No,No,Yes,No,NaN
92,09/04/2024,NaN,Asylum seeker,3 kids,"10.5,9.5,7.5",Everyday use,Work not allowed because asylum seekers,No,No,Yes,No,Yes,No,NaN
93,09/04/2024,NaN,Asylum seeker,3 chlid,"10.5, 9.5 ,6.5.",Everyday use,Asylum seeker,No,No,Father,No,Yes,No,NaN
94,30/04/2024,NaN,British,0,7,Everyday use,Ongoing mental and physical health conditions,Yes,No,No,No,No,No,NaN
95,08/05/2024,British,British,0,4-5 adult women,Everyday use,Unemployed,Yes,No,No,No,No,No,NaN
96,10/05/2024,NaN,Sudanese,1,41,"HOKA Trainer shoes (Size 41, UK size 8)- Presc...",Asylum seeker- No Work permit,No,Yes,Yes,No,Yes,No,From the British Redcross. Casework Coordinato...
97,10/05/2024,Sudanese,Pakistani,1,Eu43,Sports,Asylum seeker,No,Asylum seeker,No,No,Asylum seeker,No,British red cross charity
98,15/05/2024,Pakistan,Pakistani,1,5.5,Everyday use,Seeking asylum,No,No,Yes,No,Yes,No,Social media
99,21/05/2024,NaN,Iran,1,7,school and sports,Unable to work (please specify),No,No,No,No,Refugee,No,from caras office.. Mr. Patrick
100,29/05/2024,Iran,Spanish,0,Uk 7,Work,Unemployed,Yes,Yes,No,No,No,No,Pop Up
101,06/06/2024,Filipino,German,0,9,Everyday use,Disabled and currently ill,Yes,No,No,No,No,No,Google /
102,07/06/2024,German,irish,0,8,Everyday use,Unemployed,Yes,No,No,Yes,No,Yes,a frend
103,14/06/2024,Irish,Afghani,3,5,Sports,Unemployed,Yes,No,No,No,Yes,No,CARAS
104,17/06/2024,Afghani,Iran,no,6/30--7,Sports,Unable to work (please specify),Yes,No,No,No,Yes,No,caras
105,29/06/2024,Iran,Ethiopian,No,9,Everyday use,Unable to work (please specify),No,No,No,No,Yes,No,In social media
106,29/06/2024,Ethiopian,Eritrean,0,42,Everyday use,Unemployed,No,No,No,No,Yes,No,Friends
107,01/07/2024,Eritrean,NaN,NaN,"7,8,9,10",Everyday use,service users,No,No,No,No,No,No,A colleague
108,03/07/2024,Black African,Chadian,NaN,9.5 or 10 UK size,Sports,Refugee/Asylum seeker,No,No,No,No,Yes,Support worker from Hestia Charity,Hestia
109,03/07/2024,Africa,Nigeria,0,44,Everyday use,Employed part-time,No,Yes,No,No,Refugee,Outreach Advocate,HESTIA (AHT ‑ Modern Slavery Response Team)
110,03/07/2024,EUROPIAN,ALBENIAN,2,size 1,Everyday use,Unable to work (please specify),No,asylum seeker,No,No,Yes,No,Hestia
111,04/07/2024,Black - African,Mauritian,0,"UK 12, EU - 46",Sports,I am an asylum seeker and I do not have a perm...,No,No,No,No,Yes,No,from my support worker from Hestia
112,06/07/2024,Asian,Indian,1,8 UK (male),Everyday use,"Anisa and Aadil are both asylum seekers, so le...",No,Yes,No,No,Yes,No,Online
113,12/07/2024,Black Caribbean,Kittisian/British,0,Women's 8,Everyday use,Temporarily unable to work due to mental disab...,Yes,Voluntary work in the charity sector,No,No,No,refuge support worker,I need to rebuild my life.
114,23/07/2024,South Asian,Indian,1,UK 5 (women’s),Everyday use,Unable to work (please specify),No,Yes,No,No,Yes,No,"Through Care4Calais, an asylum support charity"
115,23/07/2024,Asian,Afghanistan,0,7 UK (men's),Everyday use,Unable to work (please specify),No,No,No,No,Yes,No,Care4Calais (asylum charity)
116,24/07/2024,Indian,Indian,0,7,Everyday use,No rights to work in the UK,No,No,No,No,Yes,No,HAB
117,24/07/2024,English,English,0,8,Everyday use,Unemployed,No,No,No,No,No,No,HAB
118,24/07/2024,African,African,0,9,Everyday use,Unemployed,Yes,No,No,No,No,No,HAB
119,24/07/2024,Cypriot,British,0,7,Everyday use,Unemployed,Yes,No,No,No,No,No,HAB
120,24/07/2024,Romanian,Romanian,0,8,Everyday use,Unemployed,Yes,No,No,No,No,No,HAB
121,24/07/2024,Caribbean,British,2,9,Everyday use,Employed part-time,Yes,No,No,No,No,No,HAB
122,24/07/2024,Iranian,Iranian,0,7,Everyday use,Employed part-time,Yes,No,No,No,No,No,HAB
123,24/07/2024,British,British,0,8,Everyday use,Unemployed,Yes,No,No,Yes,No,Yes,HAB
124,24/07/2024,Polish,Polish,0,9,Everyday use,Unemployed,No,No,No,No,No,No,HAB
125,24/07/2024,British,British,0,9,Everyday use,Unemployed,Yes,No,No,No,No,No,hab
126,24/07/2024,British,British,0,7,Everyday use,Unemployed,Yes,No,No,No,No,No,hab
127,25/07/2024,Arab,Egypt,0,43,Everyday use,asylum seeker with work permission however una...,No,No,No,No,Yes,No,online
128,30/07/2024,India,Indian,0,8.5,Everyday use and for the gym,Asylum seeker. Unable to work and no recourse ...,No,No,No,No,Yes,Social Prescriber,Refugee outreach event
129,01/08/2024,Srilankan,Srilankan,NaN,06,Sports,In the refuge for domestic abuse,Yes,Gym,No,No,No,Yes,Citizens advise
130,06/08/2024,Black African,Nigerian,3,8,Everyday use,Unemployed,Yes,Yes,No,No,No,Yes,From Brixton Village
131,08/08/2024,White / English,British,0,11,Everyday use,Employed part-time,No,Just started a CSC 4 week course.,No,No,No,Yes,A colleague
132,16/08/2024,Black African,Congolese,0,5.5,Everyday use,Asylum seeker (NRPF),No,No,No,No,Yes,No,CARAS
133,19/08/2024,Mixed Race,British,0,7,Everyday use,on PIP,Yes,No,Yes,No,No,Yes,Word of mouth
134,22/08/2024,British,UK national,NaN,7,Everyday use,Limited capability to work,Yes,No,No,No,No,No,Found online
135,26/08/2024,Persian,Iranian,1,43 EU / 8 UK,Everyday use,Asylum seeker,Yes,Yes,No,No,Yes,No,NaN
136,26/08/2024,Persian,Iranian,1,40 EU (women's),Everyday use,Unable to work (please specify),No,No,No,No,Yes,No,NaN
137,29/08/2024,Afghan,Afghan,5,5.5,Everyday use,Unemployed,Yes,No,No,No,Yes,No,CARAS
138,29/08/2024,Afghan,Afghan,0,3,Everyday use,Unemployed,Yes,No,No,No,Yes,No,CARAS
139,31/08/2024,Black Caribbean,British,1,4,Sports,Unemployed,Yes,No,No,No,No,No,Soup kitchen
140,31/08/2024,Asian,British,4,"10, 11, 12, 13",School,Employed part-time,No,No,No,No,No,No,Brixton soup kitchen
141,31/08/2024,Black Caribbean,British,4,Size 8.5 infant Size uk 3 and size 12.5 infant,Everyday use,Disabled unable to work,Yes,No,No,No,No,No,Brixton soup kitchen
142,31/08/2024,African caribbean british,British,4,5,Everyday use,Unemployed,No,No,No,No,No,No,Brixton soup kitchen
143,31/08/2024,Arab,British,3,"7,5——-1——11 kids",Everyday use,Unemployed,Yes,Yes,Yes,No,No,No,Soup kitchen Brixton
144,31/08/2024,African caribbean british,British,4,1,Everyday use,Unemployed,No,No,No,No,No,No,Brixton soup kitchen
145,31/08/2024,African caribbean british,British,4,Kids 10,Everyday use,Unemployed,No,No,No,No,No,No,Brixton soup kitchen
146,31/08/2024,African caribbean british,British,4,5,Everyday use,Unemployed,No,No,No,No,No,No,Brixton soup kitchen
147,31/08/2024,African,Nigerian,4,9,Everyday use,Unemployed,No,No,No,No,No,No,Brixton soup kitchen
148,31/08/2024,Caribbean british,British,4,6,Everyday use,Unemployed,No,No,No,No,No,No,Brixton soup kitchen
149,31/08/2024,Sierra Leonean,Sierra leone,Children,11,Sports,Unemployed,Yes,Yes,No,No,Yes,Yes,Give away
150,31/08/2024,Spanish,Brithish,2,10 - 3.5,Sports,Unemployed,Yes,Yes,No,No,No,No,Brixton soup kitchen
151,31/08/2024,Black,Democratic Republic of Congo,3,11,Everyday use,Unemployed,No,Yes,Guardian,No,No,No,An event
152,31/08/2024,Bangladeshi,British,3,4,Everyday use,Employed part-time,Yes,No,No,No,No,No,Community event
153,31/08/2024,Black british,Carribean,2,10-11,Sports,Unable to work (please specify),Yes,No,Yes,No,No,No,Brixton soup kitchen - back to school drive
154,31/08/2024,Black Caribbean,Uk,2,11 & 13,Everyday use,Unemployed,Yes,No,No,No,No,No,Brixton soup kitchen school give back
155,01/09/2024,Asian,Brit,4,"Sizes, 10, 11.5, 12.5, 13.5, and 5 adult",School,Employed part-time,No,No,No,No,No,No,Brixton soup kitchen
156,02/09/2024,NaN,NaN,NaN,44,Everyday use,Unable to work (please specify),Yes,No,No,No,Yes,No,Care4Calais - submitting request on behalf of ...
157,02/09/2024,Europe mixed raced,Spanish,2,5,Everyday use,Employed part-time,Yes,Yes,Yes,No,No,No,Brixton soup kitchen
158,03/09/2024,Afghanistan,British,5,"10, and 7.5 and 6 and 3 and 5",Everyday use,Unable to work (please specify),Yes,No,Yes,No,No,No,Drone a charity I don’t know the name charity
159,03/09/2024,NaN,Iranian,NaN,37,Everyday use,Unable to work (please specify),Yes,Yes,No,No,Yes,No,Applying on behalf of asylum seeker living in ...
160,13/09/2024,NaN,Syrian,0,41,Everyday use,Unable to work (please specify),No,No,No,No,Yes,No,Care4Calais - should I complete the form as re...
161,14/09/2024,South american,Spanish,2,8.5 and 9.5,Sports,Employed part-time,Yes,No,No,No,No,No,Brixton soup kitchen
162,15/09/2024,london,Asian,4,"11 ,8, Adult",Sports,Unemployed,No,Yes,No,No,No,No,Fb
163,17/09/2024,Not know,Not known,0,UK 7 / 42,Starting college next week and does not have s...,asylum seeker,No,starting at West London College Hammersmith ne...,young asylum seeker,No,Yes,NaN,British Red Cross Refugee Services
164,17/09/2024,White,British,1,6,Everyday use,Unemployed,No,Yes,Yes,No,No,Yes,Work
165,17/09/2024,Afghani,Afghanistan,0,9,Everyday use,College Student,No,Yes,Yes,No,Yes,Yes,Colleague
166,17/09/2024,Afghani,Afghanistan,0,8,Everyday use,College,No,Yes,Yes,No,Yes,Yes,Colleague
167,17/09/2024,Afghani,Afghanistan,0,9,School,College,No,Yes,Yes,No,Yes,Yes,Colleague
168,17/09/2024,Afghani,Afghanistan,0,8,Everyday use,College,No,Yes,Yes,No,Yes,Yes,Colleague
169,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,22/09/2024,Black British,British,0,8 Adult wide,Work,"Had two major operations, no longer work for a...",Yes,Finalising my foundation in music therapy for ...,No,No,No,No,"Done a Google search, due to low finance / hig..."
171,26/09/2024,Eritrean,Eritrean,0,UK 4,"Orthopaedic, supportive shoes",Asylum Seeker,No,No,No,No,Yes,Yes,Research
172,30/09/2024,Mix,Brasileiro,0,"9,5",Everyday use,Unable to work (please specify),Yes,Yes,No,No,Yes,No,Internet
173,02/10/2024,White,British,0,10,Everyday use,Unemployed,Yes,No,No,No,No,No,internet
174,05/10/2024,Mix black white,Brazilian,No,9.5,Everyday use,Asylum seeker,No,Yes,No,No,Yes,No,Internet
175,07/10/2024,African,Motswana0,NaN,6.5 or 7,Sports,Asylum seekers,No,Not yet still waiting to do English,No,No,Yes,No,From CARAS organisation
176,08/10/2024,Balochistan (Pakistan),Balochistani,0,UK 8/9 EU 42/43,Everyday use,Unable to work (please specify),Yes,Yes,No,No,Yes,Yes,Online
177,11/10/2024,albanian,albania,3 childrens,35,Everyday use,Unable to work (please specify),Yes,No,No,No,Yes,No,council
178,17/10/2024,Black African,Gambian,0,9.5 male,Everyday use,Unemployed,No,No,No,No,Yes,Outreach Advocate Hestia Modern Slavery Respon...,My outreach advocate
179,21/10/2024,Africans,Motswana,I am alone,6.5 or 7,Sports,Asylum seeker,No,Im on the waiting list,No,No,Yes,Im in the Home Office hotel accommodation,I been referred by CARAS Organisations
180,21/10/2024,Africans Black,Motswana,NaN,6.5 or 7,Sports,Assylum Seekers,No,Im in the waiting list,Yes by Hotel stuff,No,I am seeking Assylum in the UK,No,CARAS Team
181,25/10/2024,White British,English,0,10-10.5,Everyday use,Unemployed,Yes,No,No,No,No,No,CAB Help Through Hardship
182,05/11/2024,male,Syria,1,42,Everyday use,Unemployed,No,No,No,No,Yes,No,NaN
183,05/11/2024,Arab,Yemen,0,41,Everyday use,It is not allowed for me the right moment to w...,No,Yes,No,No,Yes,No,From the Red Cross
184,09/11/2024,Bangladeshi,British,3,4,Everyday use,Employed part-time,Yes,No,No,No,No,No,Yes
185,11/11/2024,Arab without kuwait,Kuwait,0,41,Sports,Unemployed,Yes,No,No,No,Yes,No,Via the lnternet
186,16/11/2024,Arabic,Jordanian,No,11.5,Sports,Unemployed,No,No,No,No,Yes,No,Caras organization
187,16/11/2024,Arabic,Jordanian,No,37,Sports,Unemployed,No,No,No,No,Yes,No,Caras organization
188,27/11/2024,Black,Namibian,0,UK 11,Everyday use,Unable to work (please specify),No,No,No,No,Yes,No,Via HBF
189,28/11/2024,White,British,0,11,Everyday use,Employed part-time,No,No,No,No,No,No,Online
190,02/12/2024,Iranian,Iranian,0,3.5,Sports,Unable to work (please specify),Yes,No,No,No,Yes,No,Cross
191,06/12/2024,Kurd,Iraqi,NaN,6,Sports,Unemployed,No,No,No,No,Yes,No,Caras
192,06/12/2024,Kurdish,Iraqi,NaN,5,Sports,Unable to work (please specify),No,Yes,Yes,No,Yes,No,Cara4 caras
193,07/12/2024,Kurdish,Iraqi,Children,12,Everyday use,Unemployed,No,Yes,No,No,Yes,No,Friend
194,12/12/2024,Asian,Afghani,No,7,Everyday use,Unemployed,Yes,Croydon College,Yes,No,Refugee Status (5 years),No,From my keyworker
195,12/12/2024,Mixed,Italian,1,5,Sports,Unemployed,Yes,No,No,No,No,No,Online
196,16/12/2024,Eritrean,Eritrean,0,4,Everyday use,Unable to work (please specify),No,No,No,No,Yes,No,Research
197,19/12/2024,British African,SOMALI,3,4 5,Sports,Unemployed,Yes,Yes,No,No,No,No,Social prescriber
198,19/12/2024,Latioamericana,Colombia,2,5,Everyday use,Unable to work (please specify),No,Yes,No,No,Yes,No,My friends
199,22/12/2024,White,British,2,4,Everyday use,Unable to work (please specify),Yes,No,No,No,No,No,Television
200,08/01/2025,Black,Eritrean,NaN,8,Everyday use,Unable to work (please specify),No,ESOL,No,No,Yes,No,Colleagues
201,13/01/2025,Irani,Iranian,NaN,"10,11",Sports,Unemployed,No,Yes,No,No,Yes,"Yes, No",My friend
202,14/01/2025,Black,Ethiopian,NaN,8,Sports,Unable to work (please specify),No,Yes,Yes,No,Yes,No,Internal Update
203,15/01/2025,Iranian,Iranian,NaN,4,Sports,Unable to work (please specify),Yes,Yes,No,No,Yes,No,Frind

In [ ]:
# Outputs all unique values in shoes size column
# This confirmed the variety of data we had, establishing what cleaning would be required to clean data
data['Shoe Size (UK) \nPlease enter a UK shoe size. '].unique()

array([nan, '9', '8', '05-Jun', '7', '3', '7.5', '11', '10', '4/5', '6',
       '6/6', '12/13', '5', '12', '13', '10/10.5', '8/8.5', '4', '9.5',
       '39', '8.5', '7or 7.5', '9 / 9.5', '10.5,9.5,7.5',
       '10.5, 9.5 ,6.5. ', '4-5 adult women ', '41', 'Eu43', '5.5',
       'Uk 7', '6/30--7', '42', '7,8,9,10', '9.5  or 10 UK size ', '44',
       'size 1', 'UK 12, EU - 46', '8 UK (male)', "Women's 8",
       'UK 5 (women’s)', "7 UK (men's)", '43', '06', '43 EU / 8 UK',
       "40 EU (women's)", '10, 11, 12, 13',
       'Size 8.5 infant Size uk 3 and size 12.5 infant ',
       '7,5——-1——11 kids', '1', 'Kids 10', '10 - 3.5', '10-11', '11 & 13',
       'Sizes, 10, 11.5, 12.5, 13.5, and 5 adult ',
       '10, and 7.5 and 6 and 3 and 5 ', '37', '8.5 and 9.5',
       '11 ,8,   Adult', 'UK 7 / 42', '8 Adult wide', 'UK 4', '9,5',
       '6.5 or 7', 'UK 8/9 EU 42/43', '35', '9.5 male', '10-10.5', '11.5',
       'UK 11', '3.5', '4 5', '10,11'], dtype=object)

In [ ]:
# Removes all unnecessary columns from dataset
data = data.drop(['Where did you hear about Resole? '], axis = 1)

In [ ]:
# Re-display variables after dropping unncessary variable(s)
list(data.columns)

['Timestamp',
 'Ethnicity ',
 'Nationality ',
 'No Of Dependents / Children',
 'Shoe Size (UK) \nPlease enter a UK shoe size. ',
 'What are the shoes needed for? ',
 'Employment Status',
 'Do you receive Universal Credit?',
 'Are you in education or training? ',
 'Are you a looked after child or care leaver? ',
 'Have you recently been released from prison? (in the last 6 months) ',
 'Are you seeking asylum in the UK? (Refugee) ',
 'Do you have a youth or social worker, youth offending or probation officer? ']

In [ ]:
# Ouputs all data in the shoes size column
data['Shoe Size (UK) \nPlease enter a UK shoe size. ']

0                                                  NaN
1                                                    9
2                                                    8
3                                               05-Jun
4                                                    7
5                                                    3
6                                                  7.5
7                                                   11
8                                                   10
9                                                  NaN
10                                                  11
11                                                   8
12                                                 4/5
13                                                   6
14                                                 6/6
15                                               12/13
16                                                   8
17                                                  10
18                                                   5
19                                                   5
20                                                  12
21                                                  13
22                                             10/10.5
23                                               8/8.5
24                                                   7
25                                                  12
26                                                  10
27                                                  12
28                                                   4
29                                                   7
30                                                  11
31                                                   6
32                                                   6
33                                                  10
34                                                   8
35                                                  11
36                                                   9
37                                                  13
38                                                   7
39                                                   9
40                                                   9
41                                                   9
42                                                   8
43                                                   6
44                                                 7.5
45                                                   3
46                                                   9
47                                                   5
48                                                   9
49                                                 9.5
50                                                  11
51                                                   5
52                                                   8
53                                                 NaN
54                                                   8
55                                                  11
56                                                 NaN
57                                                   8
58                                                 NaN
59                                                   7
60                                                  39
61                                                   4
62                                                   7
63                                                   3
64                                                   8
65                                                   7
66                                                   4
67                                                 8.5
68                                                   8
69                                                   8
70                                                   9
71                                                 9.5
72                                                   8
73                                                   9
74                                                 NaN
75                                                   7
76                                                   9
77                                                 NaN
78                                                   7
79                                                   7
80                                                   5
81                                                   6
82                                                   8
83                                                 9.5
84                                                   4
85                                             7or 7.5
86                                             9 / 9.5
87                                                  11
88                                                 NaN
89                                                  11
90                                                   3
91                                                   7
92                                        10.5,9.5,7.5
93                                    10.5, 9.5 ,6.5.
94                                                   7
95                                    4-5 adult women
96                                                  41
97                                                Eu43
98                                                 5.5
99                                                   7
100                                               Uk 7
101                                                  9
102                                                  8
103                                                  5
104                                            6/30--7
105                                                  9
106                                                 42
107                                           7,8,9,10
108                                9.5  or 10 UK size
109                                                 44
110                                             size 1
111                                     UK 12, EU - 46
112                                        8 UK (male)
113                                          Women's 8
114                                     UK 5 (women’s)
115                                       7 UK (men's)
116                                                  7
117                                                  8
118                                                  9
119                                                  7
120                                                  8
121                                                  9
122                                                  7
123                                                  8
124                                                  9
125                                                  9
126                                                  7
127                                                 43
128                                                8.5
129                                                 06
130                                                  8
131                                                 11
132                                                5.5
133                                                  7
134                                                  7
135                                       43 EU / 8 UK
136                                    40 EU (women's)
137                                                5.5
138                                                  3
139                                                  4
140                                     10, 11, 12, 13
141    Size 8.5 infant Size uk 3 and size 12.5 infant
142                                                  5
143                                   7,5——-1——11 kids
144                                                  1
145                                            Kids 10
146                                                  5
147                                                  9
148                                                  6
149                                                 11
150                                           10 - 3.5
151                                                 11
152                                                  4
153                                              10-11
154                                            11 & 13
155          Sizes, 10, 11.5, 12.5, 13.5, and 5 adult
156                                                 44
157                                                  5
158                     10, and 7.5 and 6 and 3 and 5
159                                                 37
160                                                 41
161                                        8.5 and 9.5
162                                     11 ,8,   Adult
163                                          UK 7 / 42
164                                                  6
165                                                  9
166                                                  8
167                                                  9
168                                                  8
169                                                NaN
170                                       8 Adult wide
171                                               UK 4
172                                                9,5
173                                                 10
174                                                9.5
175                                           6.5 or 7
176                                    UK 8/9 EU 42/43
177                                                 35
178                                           9.5 male
179                                           6.5 or 7
180                                           6.5 or 7
181                                            10-10.5
182                                                 42
183                                                 41
184                                                  4
185                                                 41
186                                               11.5
187                                                 37
188                                              UK 11
189                                                 11
190                                                3.5
191                                                  6
192                                                  5
193                                                 12
194                                                  7
195                                                  5
196                                                  4
197                                                4 5
198                                                  5
199                                                  4
200                                                  8
201                                              10,11
202                                                  8
203                                                  4
Name: Shoe Size (UK) \nPlease enter a UK shoe size. , dtype: object

In [ ]:
# Import required columns for data cleaning
import pandas as pd
import re

# Load dataset
df = pd.DataFrame(data)

# Function to round to the nearest valid UK size
def round_to_half(size):
    return round(size * 2) / 2  # Rounds to the nearest whole or half size

# Optimised function to clean and standardise shoe sizes
def standardise_shoe_size(size):
    if pd.isna(size):
        return None

    # Convert to string, remove unwanted characters, and ensure consistent separators
    size = re.sub(r"[^0-9.,/ -]", "", str(size)).replace("/", ",").replace("-", ",").replace("&", ",").replace(" ", "")

    # Ensure proper splitting of multiple sizes
    sizes = re.split(r",+", size)  # Splits by one or more commas

    # Process valid numbers and convert EU sizes where necessary
    valid_sizes = []
    for s in sizes:
        s = s.strip().rstrip(".")  # Clean up each value
        if s.replace(".", "").isdigit():  # Ensure it's a valid number
            try:
                num = float(s)
                if 20 < num < 50:  # Likely an EU size, convert to UK
                    uk_size = round_to_half(num - 33)
                    if 1.0 <= uk_size <= 13.5:
                        valid_sizes.append(str(uk_size))
                elif 1.0 <= num <= 13.5:  # Valid UK size
                    valid_sizes.append(str(round_to_half(num)))
            except ValueError:
                continue  # Skip invalid entries

    return valid_sizes if valid_sizes else None

# Apply function and get unique valid sizes
df["Standardized Shoe Sizes"] = df['Shoe Size (UK) \nPlease enter a UK shoe size. '].apply(standardise_shoe_size)
unique_sizes = sorted(set(size for sublist in df["Standardized Shoe Sizes"].dropna() for size in sublist))

# Display results
print("Unique Standardized Shoe Sizes:", unique_sizes)
print(df[["Shoe Size (UK) \nPlease enter a UK shoe size. ", "Standardized Shoe Sizes"]])

Unique Standardized Shoe Sizes: ['1.0', '10.0', '10.5', '11.0', '11.5', '12.0', '12.5', '13.0', '13.5', '2.0', '3.0', '3.5', '4.0', '5.0', '5.5', '6.0', '6.5', '7.0', '7.5', '8.0', '8.5', '9.0', '9.5']
      Shoe Size (UK) \nPlease enter a UK shoe size.         Standardized Shoe Sizes
0                                                NaN                           None
1                                                  9                          [9.0]
2                                                  8                          [8.0]
3                                             05-Jun                          [5.0]
4                                                  7                          [7.0]
5                                                  3                          [3.0]
6                                                7.5                          [7.5]
7                                                 11                         [11.0]
8                                                 10                         [10.0]
9                                                NaN                           None
10                                                11                         [11.0]
11                                                 8                          [8.0]
12                                               4/5                     [4.0, 5.0]
13                                                 6                          [6.0]
14                                               6/6                     [6.0, 6.0]
15                                             12/13                   [12.0, 13.0]
16                                                 8                          [8.0]
17                                                10                         [10.0]
18                                                 5                          [5.0]
19                                                 5                          [5.0]
20                                                12                         [12.0]
21                                                13                         [13.0]
22                                           10/10.5                   [10.0, 10.5]
23                                             8/8.5                     [8.0, 8.5]
24                                                 7                          [7.0]
25                                                12                         [12.0]
26                                                10                         [10.0]
27                                                12                         [12.0]
28                                                 4                          [4.0]
29                                                 7                          [7.0]
30                                                11                         [11.0]
31                                                 6                          [6.0]
32                                                 6                          [6.0]
33                                                10                         [10.0]
34                                                 8                          [8.0]
35                                                11                         [11.0]
36                                                 9                          [9.0]
37                                                13                         [13.0]
38                                                 7                          [7.0]
39                                                 9                          [9.0]
40                                                 9                          [9.0]
41                                                 9                          [9.0]
42                                                 8                          [8.0]
43                                                 6                          [6.0]
44                                               7.5                          [7.5]
45                                                 3                          [3.0]
46                                                 9                          [9.0]
47                                                 5                          [5.0]
48                                                 9                          [9.0]
49                                               9.5                          [9.5]
50                                                11                         [11.0]
51                                                 5                          [5.0]
52                                                 8                          [8.0]
53                                               NaN                           None
54                                                 8                          [8.0]
55                                                11                         [11.0]
56                                               NaN                           None
57                                                 8                          [8.0]
58                                               NaN                           None
59                                                 7                          [7.0]
60                                                39                          [6.0]
61                                                 4                          [4.0]
62                                                 7                          [7.0]
63                                                 3                          [3.0]
64                                                 8                          [8.0]
65                                                 7                          [7.0]
66                                                 4                          [4.0]
67                                               8.5                          [8.5]
68                                                 8                          [8.0]
69                                                 8                          [8.0]
70                                                 9                          [9.0]
71                                               9.5                          [9.5]
72                                                 8                          [8.0]
73                                                 9                          [9.0]
74                                               NaN                           None
75                                                 7                          [7.0]
76                                                 9                          [9.0]
77                                               NaN                           None
78                                                 7                          [7.0]
79                                                 7                          [7.0]
80                                                 5                          [5.0]
81                                                 6                          [6.0]
82                                                 8                          [8.0]
83                                               9.5                          [9.5]
84                                                 4                          [4.0]
85                                           7or 7.5                           None
86                                           9 / 9.5                     [9.0, 9.5]
87                                                11                         [11.0]
88                                               NaN                           None
89                                                11                         [11.0]
90                                                 3                          [3.0]
91                                                 7                          [7.0]
92                                      10.5,9.5,7.5               [10.5, 9.5, 7.5]
93                                  10.5, 9.5 ,6.5.                [10.5, 9.5, 6.5]
94                                                 7                          [7.0]
95                                  4-5 adult women                      [4.0, 5.0]
96                                                41                          [8.0]
97                                              Eu43                         [10.0]
98                                               5.5                          [5.5]
99                                                 7                          [7.0]
100                                             Uk 7                          [7.0]
101                                                9                          [9.0]
102                                                8                          [8.0]
103                                                5                          [5.0]
104                                          6/30--7                     [6.0, 7.0]
105                                                9                          [9.0]
106                                               42                          [9.0]
107                                         7,8,9,10          [7.0, 8.0, 9.0, 10.0]
108                              9.5  or 10 UK size                           [9.5]
109                                               44                         [11.0]
110                                           size 1                          [1.0]
111                                   UK 12, EU - 46                   [12.0, 13.0]
112                                      8 UK (male)                          [8.0]
113                                        Women's 8                          [8.0]
114                                   UK 5 (women’s)                          [5.0]
115                                     7 UK (men's)                          [7.0]
116                                                7                          [7.0]
117                                                8                          [8.0]
118                                                9                          [9.0]
119                                                7                          [7.0]
120                                                8                          [8.0]
121                                                9                          [9.0]
122                                                7                          [7.0]
123                                                8                          [8.0]
124                                                9                          [9.0]
125                                                9                          [9.0]
126                                                7                          [7.0]
127                                               43                         [10.0]
128                                              8.5                          [8.5]
129                                               06                          [6.0]
130                                                8                          [8.0]
131                                               11                         [11.0]
132                                              5.5                          [5.5]
133                                                7                          [7.0]
134                                                7                          [7.0]
135                                     43 EU / 8 UK                    [10.0, 8.0]
136                                  40 EU (women's)                          [7.0]
137                                              5.5                          [5.5]
138                                                3                          [3.0]
139                                                4                          [4.0]
140                                   10, 11, 12, 13       [10.0, 11.0, 12.0, 13.0]
141  Size 8.5 infant Size uk 3 and size 12.5 infant                            None
142                                                5                          [5.0]
143                                 7,5——-1——11 kids                     [7.0, 5.0]
144                                                1                          [1.0]
145                                          Kids 10                         [10.0]
146                                                5                          [5.0]
147                                                9                          [9.0]
148                                                6                          [6.0]
149                                               11                         [11.0]
150                                         10 - 3.5                    [10.0, 3.5]
151                                               11                         [11.0]
152                                                4                          [4.0]
153                                            10-11                   [10.0, 11.0]
154                                          11 & 13                           None
155        Sizes, 10, 11.5, 12.5, 13.5, and 5 adult   [10.0, 11.5, 12.5, 13.5, 5.0]
156                                               44                         [11.0]
157                                                5                          [5.0]
158                   10, and 7.5 and 6 and 3 and 5                     [10.0, 7.5]
159                                               37                          [4.0]
160                                               41                          [8.0]
161                                      8.5 and 9.5                           None
162                                   11 ,8,   Adult                    [11.0, 8.0]
163                                        UK 7 / 42                     [7.0, 9.0]
164                                                6                          [6.0]
165                                                9                          [9.0]
166                                                8                          [8.0]
167                                                9                          [9.0]
168                                                8                          [8.0]
169                                              NaN                           None
170                                     8 Adult wide                          [8.0]
171                                             UK 4                          [4.0]
172                                              9,5                     [9.0, 5.0]
173                                               10                         [10.0]
174                                              9.5                          [9.5]
175                                         6.5 or 7                          [6.5]
176                                  UK 8/9 EU 42/43                    [8.0, 10.0]
177                                               35                          [2.0]
178                                         9.5 male                          [9.5]
179                                         6.5 or 7                          [6.5]
180                                         6.5 or 7                          [6.5]
181                                          10-10.5                   [10.0, 10.5]
182                                               42                          [9.0]
183                                               41                          [8.0]
184                                                4                          [4.0]
185                                               41                          [8.0]
186                                             11.5                         [11.5]
187                                               37                          [4.0]
188                                            UK 11                         [11.0]
189                                               11                         [11.0]
190                                              3.5                          [3.5]
191                                                6                          [6.0]
192                                                5                          [5.0]
193                                               12                         [12.0]
194                                                7                          [7.0]
195                                                5                          [5.0]
196                                                4                          [4.0]
197                                              4 5                         [12.0]
198                                                5                          [5.0]
199                                                4                          [4.0]
200                                                8                          [8.0]
201                                            10,11                   [10.0, 11.0]
202                                                8                          [8.0]
203                                                4                          [4.0]

In [ ]:
# Calculate the mean shoe size (convert list of strings to floats)
mean_shoe_size = pd.to_numeric(df["Standardized Shoe Sizes"].dropna().explode()).mean()

# Round to the nearest whole or half size
mean_shoe_size = round(mean_shoe_size * 2) / 2

print("Mean Shoe Size (Rounded to Whole/Half):", mean_shoe_size)

Mean Shoe Size (Rounded to Whole/Half): 8.0

In [ ]:
# Displays length of standardised shoes sizes column
print(len(df["Standardized Shoe Sizes"]))

204

In [ ]:
import pandas as pd

# Ensure Timestamp column is in datetime format (day/month/year format explicitly set)
df["Timestamp"] = pd.to_datetime(df["Timestamp"], format="%d/%m/%Y", errors='coerce')

# Extract year and month for analysis
df["Year"] = df["Timestamp"].dt.year
df["Month"] = df["Timestamp"].dt.month

# Count applicants per year
yearly_counts = df["Year"].value_counts().sort_index()
print("Applicants Per Year:\n", yearly_counts)

# Count applicants per month in each year
monthly_distribution = df.groupby(["Year", "Month"]).size().unstack(fill_value=0)
print("\nMonthly Distribution Per Year:\n", monthly_distribution)

Applicants Per Year:
 Year
2023.0     16
2024.0    110
2025.0      4
Name: count, dtype: int64

Monthly Distribution Per Year:
 Month   1.0   3.0   4.0   5.0   6.0   7.0   8.0   9.0   10.0  11.0  12.0
Year
2023.0     0     0     0     0     0    12     4     0     0     0     0
2024.0     0     2     4     6     6    22    26    17     9     8    10
2025.0     4     0     0     0     0     0     0     0     0     0     0

In [ ]:
# Ouputs all data in the Ethnicity column
data['Ethnicity ']

0                             NaN
1                             NaN
2                           White
3                             NaN
4                             NaN
5                             NaN
6                             NaN
7                             NaN
8                             NaN
9                             NaN
10                          White
11                 Black affrican
12                            NaN
13                            NaN
14                            NaN
15                            NaN
16                          White
17                            NaN
18                            NaN
19                            NaN
20                            NaN
21                            NaN
22                            NaN
23                            NaN
24                            NaN
25                            NaN
26                            NaN
27                            NaN
28                            NaN
29                            NaN
30                            NaN
31                            NaN
32                            NaN
33                            NaN
34                 Black jamaican
35                            NaN
36                            NaN
37                            NaN
38                            NaN
39                            NaN
40                            NaN
41                            NaN
42                            NaN
43                            NaN
44                            NaN
45                            NaN
46                            NaN
47                            NaN
48                            NaN
49                            NaN
50                            NaN
51                            NaN
52                            NaN
53                            NaN
54                 Black jamaican
55                            NaN
56                            NaN
57                            NaN
58                            NaN
59                            NaN
60                            NaN
61                            NaN
62                            NaN
63                            NaN
64                            NaN
65                          White
66                            NaN
67                            NaN
68                            NaN
69                            NaN
70                            NaN
71                            NaN
72                            NaN
73                            NaN
74                            NaN
75                 Black jamaican
76                            NaN
77                            NaN
78                            NaN
79                            NaN
80                            NaN
81                            NaN
82                            NaN
83                            NaN
84                            NaN
85                            NaN
86                            NaN
87                          White
88                            NaN
89                       Eritrean
90                       Sudanese
91                         Latino
92                            NaN
93                            NaN
94                            NaN
95                        British
96                            NaN
97                       Sudanese
98                       Pakistan
99                            NaN
100                          Iran
101                      Filipino
102                        German
103                         Irish
104                       Afghani
105                          Iran
106                     Ethiopian
107                      Eritrean
108                Black African
109                       Africa
110                      EUROPIAN
111               Black - African
112                         Asian
113              Black Caribbean
114                   South Asian
115                         Asian
116                        Indian
117                       English
118                       African
119                       Cypriot
120                      Romanian
121                     Caribbean
122                       Iranian
123                       British
124                        Polish
125                       British
126                       British
127                          Arab
128                         India
129                    Srilankan
130                 Black African
131               White / English
132                 Black African
133                   Mixed Race
134                      British
135                       Persian
136                       Persian
137                        Afghan
138                        Afghan
139             Black  Caribbean
140                         Asian
141              Black Caribbean
142     African caribbean british
143                         Arab
144     African caribbean british
145    African caribbean british
146    African caribbean british
147                      African
148            Caribbean british
149               Sierra Leonean
150                       Spanish
151                         Black
152                  Bangladeshi
153                Black british
154              Black Caribbean
155                         Asian
156                           NaN
157            Europe mixed raced
158                  Afghanistan
159                           NaN
160                           NaN
161                South american
162                        london
163                      Not know
164                        White
165                       Afghani
166                       Afghani
167                      Afghani
168                      Afghani
169                           NaN
170                Black British
171                      Eritrean
172                           Mix
173                         White
174               Mix black white
175                       African
176        Balochistan (Pakistan)
177                      albanian
178                 Black African
179                     Africans
180              Africans  Black
181                 White British
182                          male
183                          Arab
184                   Bangladeshi
185           Arab without kuwait
186                        Arabic
187                        Arabic
188                        Black
189                         White
190                       Iranian
191                          Kurd
192                       Kurdish
193                       Kurdish
194                         Asian
195                         Mixed
196                      Eritrean
197               British African
198                Latioamericana
199                         White
200                         Black
201                        Irani
202                         Black
203                       Iranian
Name: Ethnicity , dtype: object

In [ ]:
import pandas as pd

# Ensure the Ethnicity column is treated as a string and fill NaN with "Unknown"
df["Ethnicity "] = df["Ethnicity "].astype(str).str.strip().replace("nan", "Unknown")

# Normalise text (e.g., lowercase for consistent counting)
df["Ethnicity "] = df["Ethnicity "].str.lower().str.replace("-", " ").str.replace("/", " ").str.strip()

# Count frequency of each unique value
ethnicity_counts = df["Ethnicity "].value_counts()

# Display all unique inputs with frequencies
print("All Unique Ethnicities with Counts:\n", ethnicity_counts)

# Get the 3 most common demographics
top_3_ethnicities = ethnicity_counts.head(3)
print("\nTop 3 Most Common Ethnicities:\n", top_3_ethnicities)

All Unique Ethnicities with Counts:
 Ethnicity
unknown                      89
white                         9
british                       5
afghani                       5
asian                         5
black african                 4
eritrean                      4
african caribbean british     4
black                         4
black jamaican                3
iranian                       3
arab                          3
black caribbean               3
african                       3
persian                       2
afghan                        2
iran                          2
sudanese                      2
kurdish                       2
arabic                        2
black british                 2
bangladeshi                   2
filipino                      1
indian                        1
south asian                   1
black   african               1
europian                      1
africa                        1
ethiopian                     1
irish                         1
pakistan                      1
latino                        1
german                        1
black affrican                1
white   english               1
srilankan                     1
india                         1
polish                        1
romanian                      1
caribbean                     1
english                       1
cypriot                       1
spanish                       1
sierra leonean                1
caribbean british             1
europe mixed raced            1
afghanistan                   1
south american                1
black  caribbean              1
mixed race                    1
not know                      1
london                        1
mix                           1
mix black white               1
africans                      1
africans  black               1
balochistan (pakistan)        1
albanian                      1
male                          1
white british                 1
arab without kuwait           1
kurd                          1
mixed                         1
british african               1
latioamericana                1
irani                         1
Name: count, dtype: int64

Top 3 Most Common Ethnicities:
 Ethnicity
unknown    89
white       9
british     5
Name: count, dtype: int64